{% extends "base_generic.html"%}
{% block title %} {{author.first_name}}{% endblock %}

    {% block sidebar2 %}
    {% if perms.catalog.can_do_stufs %}
    <hr>
    <b>Yazarı Düzenle</b>
    <ul>
        <li><a href = "{% url 'author_create' %}">Yeni Yazar</a></li>
        <li><a href = "{% url 'author_update' author.pk%}">Bu yazarı Düzenle</a></li>
        <li><a href = "{% url 'author_delete' author.pk%}">Bu yazarı Sil</a></li>
    </ul>
    {% endif %}
    {% endblock%}


{% block content %} 
<h1>Author: {{ author.first_name}},{{author.last_name}}</h1>
<span>{{author.date_of_birth}}-{{author.date_of_death}}</span>
<hr>
<p>Kitaplar</p>
<ul>
{% for book in author.book_set.all  %}
    <li>
        <a href ="{% url 'book-detail' book.pk %}">{{book.title}}</a>({{book.pk}})
        <p>{{book.summary}}</p>
    </li>
{% endfor %}
</ul>
{% endblock %}